<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px;">
    <header>
      <nav class="navbar navbar-light bg-success">
        <a class="navbar-brand" href="/urls">TinyApp</a>
          <% if (user) { %>
          <form class="form-inline" name="user" action="/logout" method="post" accept-charset="utf-8">
            <label for="user">Logged In As: <%= user.email %></label>
            <button type="submit" class="btn btn-secondary">Logout</button>
          </form>
          <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          <% } %>
      </nav>
    </header>
  </body>
</html>

