<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px;">
    <header style="margin-bottom: 20px;">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/urls">TinyApp</a>
          </div>
          <% if (user) { %>
          <form class="form-inline" name="user" action="/logout" method="post" accept-charset="utf-8">
            <label style="color: white;" for="user">Logged In As: <%= user.email %></label>
            <button type="submit" class="btn btn-secondary" style="margin-left: 20px;">Logout</button>
          </form>
          <% } else { %>
            <form class="form-inline">
              <a class="btn btn-secondary" href="/login">Login</a>
              <a class="btn btn-secondary" href="/register" style="margin-left: 20px;">Register</a>
            </form>
          <% } %>
      </nav>
    </header>
  </body>
</html>

