<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="partials.css">

    <title>TinyApp</title>

  </head>

  <body class="text-center" style="font-size:20px;">
    <div style="margin-top: 50px;">
      </style>
      <h1>TinyApp</h1>
      <a href="/login">Login</a>
      <span>|</span>
      <a href="/register">Register</a>
    </div>

    <div style="max-width: 30%; margin: 100px auto;">
      <form class="form-group" action="/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control">
        <button class="btn btn-secondary" type="submit" style="margin-top: 15px;">Sign in</button>
      </form>
    </div>
  </body>
</html>